::ng-deep .p-tabview .p-tabview-nav,
::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link,
::ng-deep .p-tabview .p-tabview-panels,
::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background: none;
}

::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: var(--color-blue-500);
    border-color: var(--color-blue-500);
    border-bottom: 4px var(--color-blue-500) solid;
    margin-bottom: 1px;
}

::ng-deep ul .p-tabview-nav {
    border-bottom: none;
}

::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    font-family: var(--font-sans-serif);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-body);
    line-height: var(--line-height-body-l);
    padding: var(--spacing-2xs) var(--spacing-3xs);
    border-width: 0 0 0 0;
}

::ng-deep .p-tabview .p-tabview-nav {
    border: none;
}

::ng-deep .p-tabview .p-tabview-panels {
    padding-left: 0;
}
